[DOCUMENTATION] Proposal: stable references in the specification

## Background

In the Erlang world, we have a HTTP server called `cowboy`. It's recent incarnation uses a really nice structure where errors refers to the HTTP RFC specification. For example, an error might say "The GOAWAY frame MUST pertain to a connection, not a specific channel (See RFC 7540 section 6.8)".

This only works because the HTTP/2 specification is a document which is not subject to change, so the reference of 6.8 is stable. Otherwise, the error message can refer to a wrong section over time.

## Proposal

Come up with a way to do the same for the GraphQL spec. Until now, I've managed to use Oct2016 section 5.4...., but I'm not sure if it is stable over time. I'll be happy if it is, but I'm not entirely sure.

Alternatively, I could extend GraphQL's error section with an 'url' return describing the particular type or validation error that I'm handing back to the user. The url would contain a stable anchor into the GraphQL specification document so users would have an easy way to look up what the error is.

### Rationale

We've learnt that precise notion of the specification helps discussions a lot. Rather than people arguing, or opening issues on the project, they often start on a far better track, where they work directly with the specification: "You are returning *this*, and are claiming this is allowed in the spec *here*, but I disagree and think you have misinterpreted the specification *because...*" and so on.

I'd like to be able to do the same with GraphQL.

Thanks for bringing this up. While section numbers may change between editions of this spec - each specific edition is stable. The only changes you should expect to dated versions of the spec are visual formatting, but URLs should remain the same.

As of a few months ago, linking to the specification at http://facebook.github.io/graphql/ automatically redirects to the latest dated version, while http://facebook.github.io/graphql/draft/ links to the version where section numbers are more volatile to specific changes.